/* 
    Document   : smiley
    Created on : 22 Nov, 2011, 1:31:56 PM
    Author     : arjun
    Description:
        Smileys using CSS3
*/

.smiley{
  width: 200px;
  height: 200px;
  margin: -100px 0 0 -100px;
  position: absolute;
  top: 50%;
  left: 50%;
  border: 2px solid;
  -webkit-border-radius: 100px;
  background: -webkit-gradient(linear, left top, left bottom, from(#EEE), to(#999));    
  -webkit-box-shadow: inset 0px -14px 14px rgba(0, 0, 0, .3),  0px 2px 20px rgba(0, 0, 0, .6);
}

.eye{
  height: 20%;
  width: 20%;
  border: 1px solid;
  -webkit-border-radius: 50%;
  position: absolute;
  top: 30%;
  background: hsl(0, 0%, 13%);
  -webkit-box-shadow: 0 2px 0 hsla(0, 100%, 100%, 0.8);
}
.eyel{
  left: 20%;
}
.eyer{
  right: 20%;
}



.lips{
  width: 50%;
  height: 0;
  position: absolute;
  left: 50%;
  margin-left: -25%;
  top: 70%;
  border-bottom: 2px solid;

}

.tongue {
  display: none;
  height: 20%;
  background: black;
  width: 20%;
  border-radius: 0 0 50% 50%;
  position: absolute;
  top: 71%;
  right: 30%;
  -webkit-box-shadow: inset 0px 4px 10px hsla(0, 100%, 100%, 0.8);
}


.happy .lips,
.wink .lips{
  top: 25%;
  border-top: none;
  border-bottom: 2px solid;
  border-radius: 0 0 20% 20%;
  height: 50%;
}


.sad .lips,
.angry .lips{
  top: 73%;
  border-bottom: none;
  border-top: 2px solid;
  border-radius: 20px 20px 0 0;
  height: 20%;
}

.wink .eyel{
  height: 0.5%;
  border: 2px solid;
  top: 40%;
}

.tongue-out .tongue {
  display: block;
}
.tongue-out .lips{
  border-radius: 0 0 20% 20%;
  height: 24%;
  top: 46%;
}


.angry{}
.angry .eye{
  background: none;
  border-radius: 0;
  box-shadow: none;
  border: 0;
}
.angry .eyer{
  width: 0;
  height: 0;
  border-top: 1.5em solid transparent;
  border-right: 2em solid #000;
  border-bottom: 1.5em solid transparent;
  right: 25%;
}
.angry .eyel{
  width: 0;
  height: 0;
  border-top: 1.5em solid transparent;
  border-left: 2em solid #000;
  border-bottom: 1.5em solid transparent;
  left: 25%;
}
